{% extends "admin/index.html" %}

{% block content %}
  <div class="app-agile module" style="margin-bottom:16px;">
    <table>
      <caption>
        <span class="section">LAGILE</span>
      </caption>
      <tbody>
        <tr><th scope="row"><a href="{% url 'admin:agile_user_changelist' %}">Utenti</a></th><td><a href="{% url 'admin:agile_user_changelist' %}" class="viewlink">Apri</a></td></tr>
        <tr><th scope="row"><a href="{% url 'admin:agile_agilegroup_changelist' %}">Gruppi</a></th><td><a href="{% url 'admin:agile_agilegroup_changelist' %}" class="viewlink">Apri</a></td></tr>
        <tr><th scope="row"><a href="{% url 'admin:agile_holiday_changelist' %}">Holiday</a></th><td><a href="{% url 'admin:agile_holiday_changelist' %}" class="viewlink">Apri</a></td></tr>
      </tbody>
    </table>
  </div>

  <div class="app-agile module" style="margin-bottom:16px;">
    <table>
      <caption>
        <span class="section">CONTROLLO</span>
      </caption>
      <tbody>
        <tr><th scope="row"><a href="{% url 'admin:agile_auditlog_changelist' %}">Audit logs</a></th><td><a href="{% url 'admin:agile_auditlog_changelist' %}" class="viewlink">Apri</a></td></tr>
        <tr><th scope="row"><a href="{% url 'admin:agile_changerequest_changelist' %}">Change Request</a></th><td><a href="{% url 'admin:agile_changerequest_changelist' %}" class="viewlink">Apri</a></td></tr>
        <tr><th scope="row"><a href="{% url 'admin:agile_departmentpolicy_changelist' %}">Department Policy</a></th><td><a href="{% url 'admin:agile_departmentpolicy_changelist' %}" class="viewlink">Apri</a></td></tr>
        <tr><th scope="row"><a href="{% url 'admin:agile_monthlyplan_changelist' %}">Montly plans</a></th><td><a href="{% url 'admin:agile_monthlyplan_changelist' %}" class="viewlink">Apri</a></td></tr>
      </tbody>
    </table>
  </div>

  <div class="app-agile module" style="margin-bottom:16px;">
    <table>
      <caption>
        <span class="section">STRUMENTI</span>
      </caption>
      <tbody>
        <tr><th scope="row"><a href="{% url 'admin:agile_import_tools' %}">Import &amp; Update</a></th><td><a href="{% url 'admin:agile_import_tools' %}" class="viewlink">Apri</a></td></tr>
        <tr><th scope="row"><a href="{% url 'admin:agile_systememailtemplate_changelist' %}">Template Email</a></th><td><a href="{% url 'admin:agile_systememailtemplate_changelist' %}" class="viewlink">Apri</a></td></tr>
      </tbody>
    </table>
  </div>

  <div class="app-agile module" style="margin-bottom:16px;">
    <table>
      <caption>
        <span class="section">AUTENTICAZIONE</span>
      </caption>
      <tbody>
        <tr><th scope="row"><a href="{% url 'admin:authtoken_tokenproxy_changelist' %}">Token</a></th><td><a href="{% url 'admin:authtoken_tokenproxy_changelist' %}" class="viewlink">Apri</a></td></tr>
      </tbody>
    </table>
  </div>
{% endblock %}

{% block sidebar %}{% endblock %}
